# Build Artifacts
/build/

# vcpkg build outputs
/vcpkg_installed/
/vcpkg/buildtrees/
/vcpkg/packages/
/vcpkg/downloads/
/vcpkg/logs/

# Tooling
compile_commands.json

# macOS
.DS_Store

# Editors
.vscode/
.zed/
.idea/
*.swp